#shuffle {
    width: 100px;
    margin-left: 20px;
}
#how-to-play {
    margin-left: 20px;
}
img {
    max-width: 100%;
}
.bufferImg{
    visibility: hidden;
}
#thumb-bar{
    max-width: 300px;
    min-width: 300px;
}