#shuffle {
    width: 100px;
    margin-left: 20px;
}
#how-to-play {
    margin-left: 20px;
}
img {
    max-width: 100%;
}
.bufferImg{
    visibility: hidden;
}
.thumb-bar img{
    width: auto;
    height: 300px;
    margin-left: 20px;
    margin-right: 20px;
}